@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --color-white: #fcfcf0;
  --color-primary: #050816;
  --color-sec: #211563;
  --color-hoverT: #dfd9ff;
  --color-btn: #915eff;
}

.videoBg {
  background: url(../src/assets/videoBg.mp4);
}

.videoBg2 {
  background: url(../src/assets/videoBg2.mp4);
}


.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.transCard {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.techIcon {
  pointer-events: none;
  rotate: -90deg;
}

